body{
    background-image: url(./assets/subtle_carbon.png);
    background-repeat:repeat;
    /* background-size: 1950px 1000px; */
    /* margin-top: 900px; */
}

header {
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 15px;
    font-size: 25px;
    margin: auto;
    z-index: -1;
    
}

header a {
    color: aliceblue;
    text-decoration: none;
    font-family: monospace;
}

header a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, rgb(220, 235, 13), rgb(170, 30, 140) 50%, rgb(191, 211, 200) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  margin-left: 0.2cm;
  margin-right: 0.2cm;
}

header a:hover {
    background-position: 0 100%
}


  
a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 500px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgb(189, 185, 185);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  /* background: white; */
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  /* background: #ffffff; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.fa-twitter {
  background: rgb(31, 156, 228) !important;
}

.fa-github {
  background: rgb(121, 111, 111);
}

.fa-youtube {
  background: rgb(172, 11, 11);
}

.fa-instagram {
  background: rgb(77, 24, 8);
}

.fa-facebook {
  background: rgb(33, 96, 190);
}

.fa-linkedin {
  background: rgb(31, 162, 238);
}

/* body {
  background: #4F8B89;
  color: #fff;
  font-family: 'Raleway', sans-serif;
} */

  .card {
      border-radius: 10px;
      border-style: ridge;
      border-width: 3px;
      border-color: #f0e7e7;
      color: white;
      margin-left: 30px;
      text-align: center;
      height: 300px;
      background-color: black;
      
  }
  
  .card img {
      width: 180px;
      height: 200px;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 0px;
  }

  #myDiv {
    color: white;
    text-align: right;
    font-size: 15px;
    margin-top: -30px;
  }